* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "s sans serif";
  src: url(../font/s.woff2) format("woff2");
}

body {
  font-family: "s sans serif";
  background-color: #262626;
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  text-align: center;
  list-style: none;
  width: 150px;
}

li {
  margin: 3rem 1rem;
}

li:last-child {
  opacity: 0.5;
}

#container {
  position: fixed;
  z-index: 10;

  width: 100%;
  height: 100vh;
}

.cross {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translate(-50%, -50%);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross__line {
  width: 100%;
  height: 2px;
  background-color: red;
}

.cross__line:last-child {
  transform: translateX(-100%) rotate(90deg);
}

.scroll {
  position: fixed;
  top: 30vh;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  display: flex;
}

.scroll__wrap__first  {
  position: relative;
  left: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 2000px;
  will-change: transform;
}

.scroll__wrap__item {
  width: 400px;
  height: 100%;
  overflow: hidden;
  margin: 0 60px;
}

.scroll__wrap__img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
}


.progress {
  position: fixed;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.progress__bar__wrap {
  width: 90%;
  height: 2px;
  background-color: #595959;
}

.progress__bar__inner {
  height: 100%;
  background-color: #f2f2f2;
  transition:width 300ms ease-out;
  will-change: width;
}

.progress__bar__txt {
  width: 35px;
  font-size: 0.8rem;
  transition: 300ms width ease-out;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.counter{
  width: 100px;
}

span {
  display: inline-block;
  margin: 0.8rem;
  height: 20px;
  width: 10px;
  text-align: center;

}

.counter {
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.counter__wrap{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
